{extends 'calif/base.html'}
{block body}
<table class="form" summary="">
<tr>
<th style="text-align: right">
	{if $user.codigo == $alumno.codigo}
	<a href="http://gravatar.com/emails/" title="Cambie su imagen en gravatar.com">
	{else}
    <a href="http://www.gravatar.com/avatar/{$alumno.correo|md5}.jpg?s=400">
    {/if}
    <img src="http://www.gravatar.com/avatar/{$alumno.correo|md5}.jpg?s=60" alt=" " />
    </a>
</th>
{if $user.codigo == $alumno.codigo}
	<td>Yo</td>
{else}
	<td>{$alumno.apellido} {$alumno.nombre}</td>
{/if}
</tr>
<tr>
<th>Última vez visto:</th>
<td>{$alumno.last_login|dateago}</td>
</tr>
</table>
<h2>Calificaciones del Alumno</h2>
{if $calificaciones}
<div id="Calificacion_tabs" style="float:left">
	<ul>{foreach $calificaciones as $nrc => $calif}
		<li><a href="#{$nrc}">{$seccion[$nrc]->materia}</a></li>
	{/foreach}</ul>
	{foreach $calificaciones as $nrc => $calif}
		<div id="{$nrc}" >
		<div>
		<h3>Materia : {$seccion[$nrc]->materia_desc}</h3>
		Maestro : {$seccion[$nrc]->maestro_nombre} {$seccion[$nrc]->maestro_apellido}</div>
		{foreach $calif as $grupo => $cal}
			<table id="{$grupo}" border="1" style="float:left;margin:10px">
			<caption><h4>{$grupo}</h4></caption>
			<thead><tr><th>Evaluacion</th><th>Promedio</th></tr></thead>
			<tbody>
			{foreach $cal as $eval => $c}
				<tr><th>{$eval} </th><td>{$c}</td></tr>
			{/foreach}
			<tr><th>Promedio </th><th>{$promedio[$nrc][$grupo]}</th></tr>
			</tbody>
			</table>
		{/foreach}
	</div>
	{/foreach}
</div>
{else}
<p>Este Alumno no tiene calificaciones disponibles</p>
{/if}
{/block}{block javascript}{literal}
<script type="text/javascript">
$(document).ready(function() {
	$('#Calificacion_tabs').tabs();
});
</script>
{/literal}{/block}
