{extends 'calif/base.html'}
{block body}
<p><a href="{url 'Calif_Views_System::importarNrcInventado'}">Corregir nrc inventados desde Siiau</a></p>
<p><a href="{url 'auditoriaSeveraDepartamento'}">Auditoria de secciones faltantes y sobrantes por Departamento</a></p>
<p><a href="{url 'auditoriaSeveraCarrera'}">Auditoria de seccion faltantes y sobrantes solicitadas por carrera</a></p>
<p><a href="{url 'Calif_Views_System::auditoriaHoraria'}">Auditoria horaria, por carrera</a></p>
<p><a href="{url 'Calif_Views_Departamento::buscarErrorHoras'}">Buscar secciones con errores de horas por departamento<img class="icon" src="{media '/img/important.png'}" alt="Errores de horas" /></a></p>
<p><a href="{url 'Calif_Views_System::importarPlantilla'}">Importar plantilla de Recursos Humanos</a></p>
<p><a href="{url 'Calif_Views_System::exportarPlantilla'}">Exportar plantilla para Recursos Humanos</a></p>
{/block}
