{extends 'calif/base.html'}
{block body}
<h3>Diferentes horarios</h3>
<ul>{foreach $errores as $error}
	<li>NRC: {$error[0].nrc}, materia {$error[0].get_materia}, sección: {$error[0].seccion}<br />
		<ul>Horas en el sistema:
		{assign $a = $error[1]}
		{foreach $a as $hora}
			<li>Hora: {$hora.get_salon}, {$hora.displayDias()} de {$hora.inicio} a {$hora.fin}</li>
		{/foreach}
		</ul>
		<ul>Horas en Siiau:
		{assign $b = $error[2]}
		{foreach $b as $hora}
			<li>Hora: {$hora.get_salon}, {$hora.displayDias()} de {$hora.inicio} a {$hora.fin}</li>
		{/foreach}
		</ul>
	</li>
{/foreach}</ul>
{/block}
