{extends 'calif/base.html'}
{block body}
<h1>{$materia.clave} - {$materia.descripcion}</h1>
<ul style="list-style-type: none;">
<li style="display: inline;"><a href="{url 'Calif_Views_Materia::verMateria', array ($materia.clave)}">Detalles</a></li>
<li style="display: inline;"><a href="{url 'Calif_Views_Materia::verEval', array ($materia.clave)}">Evaluación</a></li>
<li style="display: inline;"><a href="{url 'Calif_Views_Materia::actualizarMateria', array ($materia.clave)}">Editar</a></li>
</ul>
<h2>Detalles</h2>
<p>Departamento: {$departamento.descripcion}. FIXME Poner enlace hacia el departamento.
<p>Créditos: {$materia.creditos}</p>
{if $carreras}
	<p>La materia es tomada por:
	<ul>
	{foreach $carreras as $carrera}
		<li><a href="{url 'Calif_Views_Materia::porCarrera', array ($carrera.clave)}">{$carrera.descripcion}</a></li>
	{/foreach}
	</ul></p>
{else}
	<p>La materia no es tomada por alguna carrera</p>
{/if}
{if $calendario.events}
	<h2>Horas de la materia</h2>
	{$calendario.render}
{/if}
<h2>Lista de secciones de {$materia.clave}</h2>
<p>Puede <a href="{url 'Calif_Views_Seccion::agregarNrc', array (), array ('materia' => $materia.clave)}">agregar una nueva sección</a> a esta materia</p>
{$paginador.render}
{/block}
