{extends 'calif/base.html'}
{block body}
<h1>{$materia.clave} - {$materia.descripcion}</h1>
<ul style="list-style-type: none;">
<li style="display: inline;"><a href="{url 'Calif_Views_Materia::verMateria', array ($materia.clave)}">Detalles</a></li>
<li style="display: inline;"><a href="{url 'Calif_Views_Materia::verEval', array ($materia.clave)}">Evaluación</a></li>
</ul>
{if $calendario.events}
	<h2>Horas de la materia</h2>
	{$calendario.render}
{/if}
<h2>Lista de secciones de {$materia.clave}</h2>
<p>Puede <a href="{url 'Calif_Views_Seccion::agregarNrcConMateria', array ($materia.clave)}">agregar una nueva sección</a> a esta materia</p>
{$paginador.render}
{/block}
