{extends 'calif/maestro/base.html'}
{block body_maestro}
<h2>Permisos</h2>
{if $form}
	<h3>Agregar nuevo permiso</h3>
	<form method="post" action="{url 'Calif_Views_Usuario::agregarPermiso', array($user->id)}">
		<table>
			{$form.render_table}
			<tr><td><input type="submit" value="Agregar permiso" /></td></tr>
		</table>
	</form>
{else}
	<p>Este usuario ya tiene todos los permisos posibles</p>
{/if}
{if $form2}
	<h3>Agregar nuevo grupo</h3>
	<form method="post" action="{url 'Calif_Views_Usuario::agregarGrupo', array($user->id)}">
		<table>
			{$form2.render_table}
			<tr><td><input type="submit" value="Agregar a grupo" /></td></tr>
		</table>
	</form>
{else}
	<p>Este usuario ya pertenece a todos los grupos existentes</p>
{/block}
