{extends 'calif/maestro/base.html'}
{block body_maestro}
<h2>Perfil público</h2>
<table class="form" summary="">
	<tr>
		<th style="text-align: right">
		{if $user.login == $maestro.codigo}
		<a href="http://gravatar.com/emails/" title="Cambie su imagen en gravatar.com">
		{else}
		<a href="http://www.gravatar.com/avatar/{$maestro.user.email|md5}.jpg?s=400">
		{/if}<img src="http://www.gravatar.com/avatar/{$maestro.user.email|md5}.jpg?s=60" alt=" " /></a>
		</th>
	{if $user.login == $maestro.codigo}
		<td>Yo</td>
	{else}
		<td>{$maestro.apellido} {$maestro.nombre}</td>
	{/if}
	</tr>
	<tr>
		<th>Grado:</th>
		{if $maestro.sexo == 'M'}
			{if $maestro.grado == 'L'}
				<td>Licenciado</td>
			{elseif $maestro.grado == 'I'}
				<td>Ingeniero</td>
			{elseif $maestro.grado == 'M'}
				<td>Maestro</td>
			{elseif $maestro.grado == 'D'}
				<td>Doctor</td>
			{else}
				<td>Desconocido</td>
			{/if}
		{else}
		{if $maestro.grado == 'L'}
				<td>Licenciada</td>
			{elseif $maestro.grado == 'I'}
				<td>Ingeniera</td>
			{elseif $maestro.grado == 'M'}
				<td>Maestra</td>
			{elseif $maestro.grado == 'D'}
				<td>Doctora</td>
			{else}
				<td>Desconocida</td>
			{/if}
		{/if}
	</tr>
	<tr>
		<th>Código:</th>
		<td>{$maestro.codigo}</td>
	</tr>
	<tr>
		<th>Categoría Asignatura:</th>
		<td>{$asignatura.descripcion}</td>
	</tr>
	{if $nombramiento != null}
	<tr>
		<th>Nombramiento:</th>
		<td>{$nombramiento.descripcion}</td>
	</tr>
	{/if}
	{if $maestro.tiempo != null}
		{if $maestro.tiempo == 't'}
			<tr><td></td><td>Tiempo completo</td></tr>
		{else}
			<tr><td></td><td>Medio tiempo</td></tr>
		{/if}
	{/if}
	<tr>
		<th>Última vez visto:</th>
		<td>{$maestro.user.last_login|dateago}</td>
	</tr>
</table>
{/block}
