{extends 'calif/base.html'}
{block body}
<p>Puede importar toda la oferta académica desde SIIAU</p>
<p>Esta acción destruirá todas las calificaciones que hay en el sistema y los alumnos matriculados en todos los grupos</p>
{if $form.errors}
	<p>Ha ocurrido un error subiendo el archivo, por favor intente de nuevo</p>
	{if $form.get_top_errors}{$form.render_top_errors}{/if}
{/if}
<form method="post" enctype="multipart/form-data" action=".">
{$form.render_p}
<p>
<input type="submit" id="submit" name="submit" value="Importar" />
</form>
{/block}
