{extends 'calif/base.html'}
{block body}
<table border="1">
<thead><tr><th>Sección Solicitada por Nosotros</th><th>¿NRC Inventado?</th><th>¿NRC existe en SIIAU?</th>
<th>¿Coincide totalmente con SIIAU?</th><th>¿Hay edificio en SIIAU?</th><th>¿Hay salon en SIIAU?</th>
<th>¿Hay dias en SIIAU?</th><th>¿Tiene horas inicio/fin en SIIAU?</th><th>¿Maestro en SIIAU?</th>
<th>¿Equivalente en SIIAU (por horas)?</th><th>¿Equivalente en SIIAU (por Materia-Sección)?</th>
</thead>
<tbody>
{foreach $observaciones as $obs}
<tr>
<td>{$obs['seccion'].materia} - {$obs['seccion'].seccion}<br />{$obs['seccion'].nrc}</td>

{if $obs['inventado']}
<td><img src="{media '/img/ok.png'}" />Sí</td>
{else}
<td><img src="{media '/img/important.png'}" />No</td>
{/if}

{if $obs['existe']}
<td><img src="{media '/img/ok.png'}" />Sí</td>
{else}
<td><img src="{media '/img/important.png'}" />No</td>
{/if}

{if $obs['horas_bien']}
<td><img src="{media '/img/ok.png'}" />Sí</td>
{else}
<td><img src="{media '/img/important.png'}" />No</td>
{/if}

{if $obs['existe'] || $obs['match'] || $obs['match_seccion']}
{if $obs['edificio']}
<td><img src="{media '/img/ok.png'}" />Sí</td>
{else}
<td><img src="{media '/img/important.png'}" />No</td>
{/if}
{else}
<td>No aplica</td>
{/if}

{if $obs['existe'] || $obs['match'] || $obs['match_seccion']}
{if $obs['salon']}
<td><img src="{media '/img/ok.png'}" />Sí</td>
{else}
<td><img src="{media '/img/important.png'}" />No</td>
{/if}
{else}
<td>No aplica</td>
{/if}

{if $obs['existe'] || $obs['match'] || $obs['match_seccion']}
{if $obs['dias']}
<td><img src="{media '/img/ok.png'}" />Sí</td>
{else}
<td><img src="{media '/img/important.png'}" />No</td>
{/if}
{else}
<td>No aplica</td>
{/if}

{if $obs['existe'] || $obs['match'] || $obs['match_seccion']}
{if $obs['hora']}
<td><img src="{media '/img/ok.png'}" />Sí</td>
{else}
<td><img src="{media '/img/important.png'}" />No</td>
{/if}
{else}
<td>No aplica</td>
{/if}

{if $obs['existe'] || $obs['match'] || $obs['match_seccion']}
{if $obs['maestro'] == 0}
<td><img src="{media '/img/important.png'}" />Vacio</td>
{else}
{if $obs['maestro'] == 1}
<td><img src="{media '/img/important.png'}" />Staff</td>
{else}
<td><img src="{media '/img/ok.png'}" />Sí</td>
{/if}
{/if}
{else}
<td>No aplica</td>
{/if}

{if $obs['match']}
<td><img src="{media '/img/ok.png'}" />Sí, el NRC {$obs['match_nrc']}</td>
{else}
{if $obs['existe']}
<td>Ya existe en Siiau</td>
{else}
<td><img src="{media '/img/important.png'}" />No</td>
{/if}
{/if}

{if $obs['match_seccion']}
<td><img src="{media '/img/ok.png'}" />Sí, el NRC {$obs['match_nrc']}</td>
{else}
{if $obs['existe']}
<td>Ya existe en Siiau</td>
{else}
<td><img src="{media '/img/important.png'}" />No</td>
{/if}
{/if}

</tr>
{/foreach}
</tbody>
</table>
{/block}
