{extends 'calif/base.html'}
{block body}
<p>Presentando ante usted el reporte de la sobreoferta del {$departamento.departamento}</p>
<p>Total de secciones solicitadas: {$total_solicitadas}</p>
<p>Total de secciones excedentes: {$mega_total}</p>
<h2>Detalles de cada materia</h2>
<table border="1">
<thead><tr>
<th>Clave materia</th><th>Balance</th>
</tr></thead>
<tbody>
{foreach $totales as $materia => $balance}
<tr>
<td>{$materia}</td><td>{$balance}</td>
</tr>
{/foreach}
</tbody>
</table>
{/block}
