{extends 'calif/base.html'}
{block body}
<p><a href="{url 'Calif_Views_Carrera::agregarCarrera'}"><img class="icon" src="{media '/img/list-add.png'}" alt="Crear carrera" />Agregar nueva carrera</a></p>
{if count ($divisiones) != 0}
	{foreach $divisiones as $division}
		<h3>{$division}</h3>
		{if count ($carreras[$division.id]) != 0}
			<ol>
			{foreach $carreras[$division.id] as $carrera}
				<li><a href="{url 'Calif_Views_Carrera::verCarrera', array($carrera.clave)}">{$carrera.clave} {$carrera.descripcion}</a></li>
			{/foreach}
			</ol>
		{else}
			<p>No hay carreras para esta división</p>
		{/if}
	{/foreach}
{else}
	<p>No hay divisiones registradas</p>
{/if}
{/block}
