{extends 'calif/base.html'}
{block body}
<p>Existen las siguientes formas de evaluación para las materias. <a href="{url 'Calif_Views_Evaluacion::agregarEval'}">Agregar una forma de evaluación</a></p>
{if $grupos_evals}
	{foreach $grupos_evals as $grupo}
		<h2>{$grupo.descripcion}</h2>
		{if $evals[$grupo.id]}
			<ul>
			{foreach $evals[$grupo.id] as $eval}
				<li>{$eval.descripcion}</li>
			{/foreach}
			</ul>
			<p>Puede <a href="{url 'Calif_Views_Evaluacion::agregarEval', array (), array ('grupo' => $grupo.id)}">agregar otra forma de evaluación</a> para {$grupo.descripcion}.</p>
		{else}
			<p>Su sistema no contiene formas de evaluación para {$grupo.descripcion}, debería <a href="{url 'Calif_Views_Evaluacion::agregarEval', array (), array ('grupo' => $grupo.id)}">agregar una forma de evaluación</a></p>
		{/if}
	{/foreach}
{else}
	<p>Su sistema no contiene ninguna forma de evaluación. Si quiere que las materias sean evaluables, debería <a href="{url 'Calif_Views_Evaluacion::agregarEval'}">agregar una forma de evaluación.</a></p>
{/if}
{/block}
