{extends 'calif/base.html'}
{block body}
<form method="post" action=".">
<table>{$form.render_table}<td><input type="submit" value="Filtrar" /></td></table>
</form>
{if $filtro}<p>Filtros activos:</p><ul style="list-style-type: none;">{foreach $filtro as $key => $val}
<li><a href="{url 'Calif_Views_Seccion::eliminarFiltro', array($key)}"><img class="icon" src="{media '/img/list-remove.png'}" alt="Eliminar filtro" /></a>{$val}</li>
{/foreach}</ul>{/if}
{if $user.isJefe() || $user.isCoord()}
<p><a href="{url 'Calif_Views_Seccion::agregarNrc'}"><img class="icon" src="{media '/img/list-add.png'}" alt="Agregar seccion" />Agregar una nueva sección</a></p>
<p><a href="{url 'Calif_Views_Reportes_Oferta::conCambios'}">Exportar con cambios respecto a otro calendario y con los filtros activos</a></p>
<p><a href="{url 'Calif_Views_Reportes_Oferta::reporteODS'}">Exportar con los filtros activos</a></p>
{/if}

{$paginador.render}
{/block}
