{extends 'calif/base.html'}
{block body}
<h1>NRC {$seccion.nrc}</h1>

<p>De la materia <a href="{url 'Calif_Views_Materia::verMateria', array ($materia.clave)}">{$materia.clave} - {$materia.descripcion}</a> {$seccion.seccion}</p>
<p>Grupo del profesor <a href="{url 'Calif_Views_Maestro::verMaestro', array ($maestro.codigo)}">{$maestro.apellido} {$maestro.nombre}</a>. <a href="{url 'Calif_Views_Seccion::actualizarNrc', array ($seccion.nrc)}">Cambiar de profesor</a></p>
<p><a href="{url 'Calif_Views_Seccion::eliminarNrc', array ($seccion.nrc)}"><img class="icon" src="{media '/img/edit-delete.png'}" alt="Eliminar sección" />Eliminar esta sección</a></p>
{if $user.isCoord}
	<h3>Oferta académica</h3>
	{if $seccion.asignacion}
		{coordperm 'puede_liberar', $user, $seccion.asignacion}
			<p>La sección está pedida para {$seccion.asignacion}.{if $puede_liberar}<a href="{url 'Calif_Views_Seccion::liberarNrc', array ($seccion.nrc)}">Liberar esta sección</a>.{/if}</p>
	{else}
		{foreach $materia.getCarrerasList as $carrera}
			{coordperm 'puede', $user, $carrera.clave}
			{if $puede}
				<p><a href="{url 'Calif_Views_Seccion::reclamarNrc', array ($seccion.nrc, $carrera.clave)}">Reclamar sección para {$carrera.clave}</a></p>
			{/if}
		{/foreach}
	{/if}
{/if}
<h2>Horarios de la sección</h2>
<p>Puede <a href="{url 'Calif_Views_Horario::agregarHora', array ($seccion.nrc)}">agregar una nueva hora</a> a esta sección</p>
{if $horarios}
	<table border="1">
	<thead><tr><th>Hora inicio</th><th>Hora fin</th><th>Días</th><th>Edificio</th><th>Aula</th><th>Acciones</th></tr></thead>
	<tbody>
	{foreach $horarios as $hora}
		<tr><td>{$hora.hora_inicio}</td>
		<td>{$hora.hora_fin}</td>
		<td>{$hora.displayDias()}</td>
		<td>{$hora.salon_edificio}</td>
		<td><a href="{url 'Calif_Views_Salon::verSalon', array ($hora->salon)}">{$hora.salon_aula}</a></td>
		<td>
		<a href="{url 'Calif_Views_Horario::eliminarHora', array ($seccion->nrc, $hora->id)}"><img class="icon" src="{media '/img/edit-delete.png'}" alt="Eliminar" /></a>
		<a href="{url 'Calif_Views_Horario::actualizarHora', array ($seccion->nrc, $hora->id)}"><img class="icon" src="{media '/img/document-properties.png'}" alt="Editar" /></a>
		</td></tr>
	{/foreach}
	</tbody></table>
{/if}
<h2>Calificaciones</h2>
<p>Sección con {$alumnos|count} alumnos.</p>
<!-- Arreglar Completar y adaptar al modelo Pluf -->
Matricular nuevo Alumno
<input type="text" name="srch" id="srch" onkeyup='verificar()'/>
<datalist id="datalist1" >
{foreach $all_alumnos as $al}
  <option value="{$al.codigo}" label ="{$al.nombre}">
 {/foreach}
</datalist>
<input type="submit" name="submit" value="Matricualar" />

{if $alumnos && $evaluacion}
<div id="Evals_tabs">
	<ul>{foreach $evaluacion as $id_geval => $eval}
		<li><a href="#{$grupo_evals[$id_geval].descripcion}">{$grupo_evals[$id_geval].descripcion}</a></li>
	{/foreach}</ul>
	{foreach $evaluacion as $id_geval => $eval}
	<table id="{$grupo_evals[$id_geval].descripcion}" border="1">
		<thead><tr><td colspan="2" style="visibility:collapse"></td>
		{foreach $eval as $id_eval => $e}
				<th><a href="{url 'Calif_Views_Seccion::evaluar', array ($seccion->nrc, $id_eval)}"><img class="icon" src="{media '/img/eval.png'}" alt="Evaluar" /></th>
		{/foreach}</tr>
		<tr><th>Alumno</th><th>Codigo</th>
		{foreach $eval as $e}
				<th>{$e}</th>
		{/foreach}
		<th>Promedio</th>
		<th></th>
		</tr></thead>
		<tbody>
		{foreach $alumnos as $alumno}
			<tr><td>{$alumno.nombre} {$alumno.apellido}</td><td>{$alumno.codigo}</td>
			{foreach $eval as $key => $e}
				<td>{$calificacion[$alumno.codigo][$key] }</td>
			{/foreach}
			<td>{$promedios[$alumno.codigo][$id_geval]}</td>
			<td><a href="{url 'Calif_Views_Alumno::evaluar', array ($alumno->codigo, $seccion->nrc, $id_geval)}"><img class="icon" src="{media '/img/eval.png'}" alt="Evaluar" /></a></td>
			</tr>
		{/foreach}
		<tr><th colspan='2' >Promedio</th>
		{foreach $promedios_eval[$id_geval] as $pe}
				<td>{$pe}</td>
		{/foreach}		
		</tr>
		</tbody>
	</table>
	{/foreach}
</div>
{else}
	{if $alumnos}
		<table border="1">
		<thead><tr><th>Alumno</th><th>Codigo</th></tr></thead>
		<tbody>{foreach $alumnos as $alumno}
			<tr><td>{$alumno.nombre} {$alumno.apellido}</td><td>{$alumno.codigo}</td></tr>
		{/foreach}</tbody>
		</table>
	{else}
		<p>La sección no tiene alumnos</p>
	{/if}
{/if}
{/block}
{block javascript}{literal}
<script type="text/javascript">
$(document).ready(function() {
	$('#Evals_tabs').tabs();
});
function verificar()
{
var text = document.getElementById("srch");
if(text.value.length > 4)
text.setAttribute("list", "datalist1");
else text.removeAttribute("list");
}
</script>
{/literal}{/block}
